<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автошкола Драйв</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body class="ryan">

<div th:replace="~{header :: header}"></div>
<main>
    <div class="container schedule-wrapper mt-5">
        <h1 class="text-center">Расписание на день</h1>
        <form id="lessons_form" th:action="@{/getSchedule}">
            <div class="text-center mb-4 form-group">
                <label for="datePicker">Выберите дату:</label>
                <input type="date" name="datePicker" id="datePicker" th:value="${datePicker}"
                       class="form-control w-50 mx-auto"/>
                <label for="instructor" class="mt-2">Выберите инструктора</label>
                <select class="form-select form-control w-50 mx-auto " id="instructor" name="instructorId">
                    <option th:each="instructor : ${instructors}" th:value="${instructor.id}"
                            th:text="${instructor.secondName + ' ' + instructor.firstName?.substring(0, 1) + '. ' + instructor.thirdName?.substring(0, 1) + '.'}"
                            th:selected="${currentInstructor.id==instructor.id}"></option>
                </select>
                <button type="submit" class="btn btn-primary mt-2">Показать занятия</button>
                <button sec:authorize="hasAuthority('ADMIN_ROLE')" id="add-project-btn" type="button"
                        class="btn btn-default mt-2" data-toggle="modal"
                        data-target="#add-project-form">
                    <span class="glyphicon glyphicon-plus"></span> Добавить занятие
                </button>
            </div>
        </form>


        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="schedule-column" th:each="lesson : ${lessons}">
                    <div class="task">
                        <strong th:text="${lesson.time}"></strong>
                        <p>
                            Инструктор: <span th:text="${lesson.instructor.secondName + ' ' + lesson.instructor.firstName?.substring(0, 1) + '. ' + lesson.instructor.thirdName?.substring(0, 1) + '.'}" > </span>
                        </p>
                        <p th:if="${lesson.user}">Занято</p>
                        <p th:if="${lesson.user}" sec:authorize="hasAuthority('ADMIN_ROLE')">
                            Студент: <span th:text="${lesson.user.username}"></span>
                        </p>
                        <a sec:authorize="hasAuthority('STUDENT_ROLE')"
                           th:if="${(lesson.user == null) and
                            (lesson.date.isAfter(T(java.time.LocalDate).now()) or
                             (lesson.date.isEqual(T(java.time.LocalDate).now()) and T(java.time.LocalTime).now().isBefore(lesson.time)))}"
                           class="btn btn-book"
                           th:href="@{/schedule/signup/{id}(id=${lesson.id})}">Записаться</a>
                        <a sec:authorize="hasAuthority('ADMIN_ROLE')"
                           th:if="${(lesson.user==null)}"
                           class="btn btn-danger"
                           th:href="@{/schedule/delete/{id}(id=${lesson.id})}">Удалить</a>
                        <a th:if="${(lesson.user!=null) && (#authentication.name==lesson.user.username) && (lesson.date != T(java.time.LocalDate).now())}"
                           class="btn btn-secondary"
                           th:href="@{/schedule/signout/{id}(id=${lesson.id})}">Отменить запись</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div id="add-project-form" class="modal fade" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <form id="project-form" th:action="@{${URI}+'/saveLesson'}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="timeSelect">Время</label>
                                <select class="form-select form-control w-50 mx-auto " id="timeSelect"
                                        name="timeSelect">
                                    <option value="09:00">09:00</option>
                                    <option value="11:00">11:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="15:00">15:00</option>
                                    <option value="17:00">17:00</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btn-close" class="btn btn-default"
                                    data-dismiss="modal">Закрыть
                            </button>
                            <button type="submit" id="btn-save" class="btn btn-primary">
                                Добавить занятие
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    document.getElementById('datePicker').addEventListener('change', function() {
        const selectedDate = new Date(this.value);
        const options = { year: 'numeric', month: 'long', day: 'numeric' };
        document.getElementById('selectedDate').textContent = selectedDate.toLocaleDateString('ru-RU', options);
    });
</script>

</body>
</html>
