<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автошкола Драйв</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body class="ryan">

<div th:replace="~{header :: header}"></div>

<div class="container schedule-wrapper mt-5">
    <h1 class="text-center">Расписание на день</h1>
    <form id="lessons_form" th:action="@{/getSchedule}">
        <div class="text-center mb-4 form-group">
            <label for="datePicker">Выберите дату:</label>
            <input type="date" name="datePicker" id="datePicker" th:value="${datePicker}" class="form-control w-50 mx-auto" />
            <label for="instructor" class="mt-2">Выберите инструктора</label>
            <select class="form-select form-control w-50 mx-auto " id="instructor" name="instructorId">
                <option th:each="instructor : ${instructors}" th:value="${instructor.id}" th:text="${instructor.secondName}" th:selected="${currentInstructor.id==instructor.id}"></option>
            </select>
            <button type="submit" class="btn btn-primary mt-2">Показать занятия</button>
        </div>
    </form>


    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="schedule-column" th:each="lesson : ${lessons}">
                <div class="task">
                    <strong th:text="${lesson.time}"></strong>
                    <p th:text="${lesson.instructor.secondName}"></p>
                    <p th:if="${lesson.user}">Занято</p>
                    <a th:if="${(lesson.user==null)}"
                            class="btn btn-book"
                            th:href="@{/schedule/signup/{id}(id=${lesson.id})}">Записаться</a>
<!--                    <button th:if="${userLessonsList.contains(lesson.id)}"-->
<!--                            class="btn btn-secondary"-->
<!--                            th:href="@{/schedule/{date}/signout/{id}(id=${lesson.id}, date=${lesson.date})}">Отменить запись</button>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    document.getElementById('datePicker').addEventListener('change', function() {
        const selectedDate = new Date(this.value);
        const options = { year: 'numeric', month: 'long', day: 'numeric' };
        document.getElementById('selectedDate').textContent = selectedDate.toLocaleDateString('ru-RU', options);
    });
</script>

</body>
</html>
